footer div {
    flex-wrap: nowrap;
    display: block;
}

div.info {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.4em;

    img {
        width: 80px;
        height: 80px;
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px 0px;
        border-radius: 50%;
        margin-right: 30px;
    }
    
    .info-text {
        #name {
            font-size: 1.1em;
            margin-right: 10px;
        }
        #id {
            border: 2px var(--primary-color) solid;
            color: var(--primary-color);
            padding: 0px 16px 1px 16px;
            border-radius: 20px;
            font-size: 0.75em;
        }
        #bio {
            color: var(--text-second-color);
            font-size: 0.8em;
        }
    }
}

div.link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 25px;
    
    .right a {
        border-bottom: none;
        text-decoration: none;
        color: var(--text-primary-color);
        cursor: pointer;
        margin-right: 10px;

        &:hover {
            color: var(--primary-color);
        }

        svg {    
            width: 25px;
            height: 25px;
        }  


    }
}