<ul>
    {% set parts = parts | default(value=[1, 2, 3, 4, 5, 6]) %}
    {% for part in parts %}
        {% if part != except %}
        <li><a href="/{{prefix | default(value="nix") }}-{{part}}">Partie {{part}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
