<!DOCTYPE html>

<html lang="{% block lang %}{% endblock lang %}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  {% if page.extra.metas %}
  {% for meta in page.extra.metas %}
  <meta name="{{meta.name | default(value="")}}" property="{{meta.property | default(value="")}}" content="{{meta.content}}">
  {% endfor %}
  
  {% elif section.extra.metas %}
  {% for meta in section.extra.metas %}
  <meta name="{{meta.name | default(value="")}}" property="{{meta.property | default(value="")}}" content="{{meta.content}}">
  {% endfor %}
  {%endif %}
  {% block desc %}{% endblock desc %}
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
  {% include "_custom_font.html" %}
  {% include "_custom_css.html" %}
  <link rel="stylesheet" href="/main.css">
  {% block head %}{% endblock head %}
  {% include "_head_extend.html" %}
</head>

<body class="{% block page %}{% endblock page%}">
  <script>
    const theme = sessionStorage.getItem('theme');
    const match = window.matchMedia("(prefers-color-scheme: dark)").matches
    if ((theme && theme == 'dark') || (!theme && match)) {
      document.body.classList.add('dark');
      const hl = document.querySelector('link#hl');
      if (hl) hl.href = '/hl-dark.css';
    }
  </script>
  {% block content %}{% endblock content %}
  {% block script %}{% endblock script %}
  <script src="/js/main.js"></script>
</body>

</html>
